{% extends "base.html.twig" %}

{% block title %}
    Load activities
{% endblock %}

{% block body %}
    <h3>
        {{ message }}
    </h3>
    <ul>
        <li>
            <a href="{{ path('index') }}">Back to main menu</a>
        </li>
    </ul>
{% endblock %}
